<div class="comment group">
    <div class="comment-image">
      <img src="<%= comment.get('author').get('profile_picture') %>" height=75 width=75>
    </div>
    <div class="comment-content">
      <a href="#">
        <strong>
          <%= comment.get('author').escape('username') %>
        </strong>
      </a>
      <div class="comment-text">
        <%= comment.escape('body') %>
      </div>
    </div>
  <div class="post-footer-item comments delete-comment">
  <% if ((comment.get('author').get('id') == window.Facebook.current_user_id) ||
         (post.get('recipient').get('id') == window.Facebook.current_user_id)) { %>
    <button class="delete-comment-button">Delete</button>
  <% } %>
  </div>
</div>