<form enctype="multipart/form-data">
<label for="photo_filename"></label>
<input type="file"
       name="photo[filename]"
       accept="image/*"
       id="photo_filename">
</form>
<input type="submit"
       value="Upload">