
  <div class="post-footer-item">
    <%= likeable.get('likes').length %>
    <%= likeable.get('likes').length == 1 ? "like" : "likes" %>

    · posted <%= likeable.escape('created_at') %> ago

  </div>
