<div class="post-footer">
  <div class="post-footer-item">
    <%= post.get('likes').count %>
    <%= post.get('likes').count == 1 ? "like" : "likes" %>

    · posted <%= post.escape('created_at') %> ago

    <div class="edit">
      <% if (post.get('author').get('id') == post.get('current_user_id')) { %>
        <a class="edit-post-link">Edit</a><% } %><% if (post.get('recipient').get('id') == post.get('current_user_id')) { %>· <a class="delete-post-link">Delete</a>
      <% } %>
    </div>
  </div>
  <div class="likes">
    <div class="post-footer-item">
        <a class="unlike <% if (!_.contains(post.get('liking_user_ids'), Facebook.currentUser.id)) { %> can-like <% } %>">
          Unlike
        </a>
        <a class="like <% if (!_.contains(post.get('liking_user_ids'), Facebook.currentUser.id)) { %> can-like <% } %>">
          Like
        </a>
        <%= post.escape('liking_user_ids')%>
    </div>
  </div>
</div>