
<div class="post-body group">
  <div class="post-image">
    <img src="<%= post.get('author').escape('profile_picture') %>"
         height=75
         width=75>
  </div>
  <div class="post-content">
    <a>
      <strong>
        <%= post.get('author').escape('username') %>
      </strong>
    </a>

  <% if (post.get('author').get('id') != post.get('recipient').get('id')) { %>
    <strong>
      >
    </strong>
    <a>
      <strong>
        <%= post.get('recipient').escape('username') %>
      </strong>
    </a>
  <% } %>

  <div class="edit">
    <% if (post.get('author').get('id') == post.get('current_user_id')) { %>
      <a class="edit-post-link">Edit</a><% } %><% if (post.get('recipient').get('id') == post.get('current_user_id')) { %> · <a class="delete-post-link">Delete</a>
    <% } %>
  </div>

    <p class="post-text">
      <%= post.escape('text') %>
    </p>
  </div>
</div>