<div class="post-form">
<% if mode == "update"  %>
  <% action = post_url(post) %>
<% elsif mode == "create" %>
  <% action = user_posts_url(user, post) %>
<% end %>

<form action="<%= action %>" method="post">

  <% if mode == "update" %>
    <input type="hidden" name="_method" value="put">
  <% end %>

  <%= auth_token %>

    <!-- <label for="post_text"></label> -->
    <input type="textarea"
           name="post[text]"
           id="post_text">
  <input type="submit"
         value="<%= message %>">

</form>
<% if mode == "update"  %>
  <%= button_to "Delete Post", user_post_url(post), method: :delete %>
<% end %>
</div>