<div class="profile-nav">
  <div class="profile-nav-item">
    <a href="<%= user_url(user) %>">Profile</a>
  </div>
  <div class="profile-nav-item">
    <a href="<%= user_photos_url(user) %>">Photos</a>
  </div>
</div>