<div class="user-index-page">
  <%= render partial: "shared/profile", locals: {
    user: @user,
    status: @status
  } %>
  <div class="user-photo-nav-bar">
  <%= render partial: "shared/profile_nav" %>
  </div>
  <div class="user-photo-index-page">
    <%= render partial: "shared/photo", collection: @photos, locals: {
      link: true,
      size: "small"
    } %>
  <div class="user-photo-index-options">
  <% if @user == current_user %>
    <%= link_to "Add Photo", new_user_photo_url %>
  <% end %>
</div>
</div>
</div>