.navbar {
  margin: auto;
  width: 1000px;

  a {
	display: block;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
  }

  .logged-in {
	height: 50px;
  }
  .top-right {
	float: right;
	height: 50px;
	.top-right-item {
	  float: left;
	}
    a {
      padding: 16px 20px 16px 20px;
      font-size: 15px;
    }
	input[type="submit"] {
	  margin-top: 12px;
	}
  }
}