.navbar {
  background: #2D4689;
  padding: 10px 10px;
  margin: auto;
  width: 1000px;

  a {
    float: left;
    padding: 0px 20px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
  }

  .top-right {
    margin-left: 400px;
    a {
      padding-top: 10px;
      font-size: 15px;
    }

    .notif-button:hover {
      color: red;
      visibility: visible;
    }
  }
}