.navbar {
  margin: auto;
  width: 1000px;

  a {
	display: block;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
  }

  .logged-in {
	height: 50px;
  }
  .top-right {
	float: right;
	height: 50px;
	.top-right-item {
	  float: left;
	}
  a {
    padding: 16px 20px 16px 20px;
    font-size: 15px;
  }
	input[type="submit"] {
	  margin-top: 12px;
	}
}
  .logged-out {
    height: 90px;
    a {
      padding: 23px;
      font-size: 36px;
    }
    .login {
      float: right;
    }
    .email, .password {
      float: left;
      height: 50px;
      width: 150px;
      padding: 20px;
      label {
        padding: 5px 0px;
        margin: 10px 0;
        color: white;
        font-size: 11px;
      }
      #user_username, #user_password {
        margin: 5px 0;
        padding: 2px 5px;
      }
    }
    input[type="submit"] {
      margin: 38px 34px;
      margin-left: 20px;
    }
  }
}