// Place all the styles related to the FriendRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.friend-requests {
  position: absolute;
  left: 445px;
  background: white;
  border: 1px solid lightgray;
  padding: 10px
}

.friend-requests:hover {

}