// Place all the styles related to the Notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notifications {
  display: none;
  position: absolute;
  left: 770px;
  top: 50px;
  background: #F7F7F7;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #888;
  padding: 10px;
  z-index: 3;

  .triangle {
    position: relative;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #F7F7F7;
    top: -40px;
    left: 25px;
    width: 0px;
  }

  .notification {
    padding: 10px;
    border-bottom: 1px solid lightgray;
  }

  .notification:last-child {
    border-bottom: 0;
  };
}

.new-notifications {
  display: none;
}

.has-notifications > .new-notifications {
  display: block;
}

.show-notifications {
  display: block;
}

.new-notifications {
  position: absolute;
  left: 875px;
  top: 14px;
  width: 18px;
  height: 18px;
  padding: 3px;
  text-align: center;
  font-weight: bold;
  background: red;
  color: white;
  border-radius: 18px;
}