// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-photos-index {
  float: left;
  width:620px;

  form {
    margin-left: 0;
    padding-left: 0;
    width: 449px;
    height: 50px;
    input {
      float: left;
    }
  }

  input[type="file"] {
    width: 427px;
  }
}

.photo {
  float: left;
}

.photo-index {
//  float: left;
  margin: 2px;
  background: transparent;
 }

 .photo-show > .photo-index {
   margin: auto;
   width: 1000px;
   background: white;
 }

.user-photo-index-options {
  clear: both;
  display: block;
  content: "";
}

input[type="file"] {
  width: 400px;
}


.photo-show-modal {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: .95;

  img {
    position: absolute;
    left: 500px;
    top: 200px;
  }
  a {
    position: absolute;
    left: 500px;
    top: 180px;
  }
}
