// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-photos-index {
  float: left;
  width:620px;

  form {
    margin-left: 0;
    padding-left: 0;
    width: 449px;
    height: 50px;
    input {
      float: left;
    }
  }

  input[type="file"] {
    width: 427px;
  }
}

.photo {
  float: left;
}

.photo-index {
//  float: left;
  margin: 2px;
  background: transparent;
 }

 .photo-show > .photo-index {
   margin: auto;
   width: 1000px;
   background: white;
 }

.user-photo-index-options {
  clear: both;
  display: block;
  content: "";
}

input[type="file"] {
  width: 400px;
}


.photo-show-modal {
  background: rgba(0,0,0,0.95);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .photo-modal-box {
    position: relative;
    left: 400px;
    top: 200px;
    background: #F7F7F7;
    z-index: 3;
    width: 420px;
    border-radius: 10px;
    padding: 30px;
    .in-photo-modal {
    }

    img {
      padding: 10px;
    }
    a {
    }

    .comments-index {
    }

    .new-comment {

    }
  }
}
