// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts {
  float: left;
  display: inline-block;
  border-left: 1px solid lightgray;
  margin-left: 10px;
  padding-left: 10px;
  width: 450px;
  width: 620px;
  background: transparent;
  overflow: hidden;
}



.post, .post-form {
  margin-bottom: 10px;
  background: white;
  padding: 10px;
}

.post {
  width: 429px;
}

.post-form {
	margin-bottom: 10px;
  background: #F7F7F7;
  border: 1px solid lightgray;

  .new-post-text {
  }
  input[type="text"] {
    width: 405px;
  }
  input[type="submit"] {
    float: right;
    margin-top: 5px;
    background: #3F5D9D;
    padding: 5px 15px;
    color: white;
    cursor: pointer;
    font-weight: normal;
    font-size: 13px;
    border: 1px solid darkblue;
    border-radius: 3px;
  }
}

.status {
  margin: 15px 0;
}

.post-image {
  float: left;
}

.post-body {
  width: 430px;
}

.post-content {
  float: left;
  width: 345px;
  padding-left: 10px;
}

.post-text {
  color: black;
}

a:hover {
  cursor: pointer;
};

.post-footer {
  padding: 10px;
  margin-top: 10px;
  width: 410px;
  background: #F7F7F7;
  .comments-index {
    padding-bottom: 0px;
    background: #EDEFF4;

  }
}

.comments-index {
      margin-top: 10px;
  .comment {
    background: #EDEFF4;
    padding: 10px;
  }

  .comment:first-child {
  }
  .comment:last-child {
    border-bottom: 0;
  }
}

.post-footer-item {
  //  float: left;
  //  padding: 0 10px;

  font-size: 10px;
  a {
    font-size: 10px;
    padding: 5px 5px 5px 0;
  }
}

a .display-comment-link {
  display: block;
}
.delete-comment {
  display: none;
}


.post-footer-item:hover .delete-comment {
  display: block;
  float: right;
  a {
    font-size: 10px;
  }
}

.new-comment {
  margin-top: 10px;
  padding-left: 0px;
}

.edit {
  display: none;
}


.post:hover .edit {
  display: block;
  float: right;
  a {
    font-size: 10px;
  }
}

.comment {
  font-size: 13px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 410px;
  border-bottom: 1px solid lightgray;
  a {
    font-size: 13px;
  }

  img {
    width: 50px;
    height: 50px;
  }
}

.comment-item {
  float: left;
  border: 1px solid lightgray;
  width: 580px;
//  padding: 10px;
  overflow: hidden;
}
.comment-image {
  float: left;
  width: 75px;
}

.comment-content {
	float: left;
	margin-left: 10px;
  float: left;
//  width: 420px;
	input {
		float: right;
	}
}

.likes {
  float: right;
}

.like {
  display: none;
}
.unlike {
  display: inline;
}

.can-like > .like {
  display: inline;
}
.can-like > .unlike {
  display: none;
}
.unlike {
  display: inline;
  .can-like: {
    display: none;
  };
}
//
//.like {
//  display: none;
//  .can-like: {
//    display: inline;
//  };
//}

input[type="text"] {
  font-size: 13px;
  padding: 5px 10px;
  color: #6D6D6D;
}
//
//input[type="textarea"] {
//  position: relative;
//  background: transparent;
//  height: 20px;
//}
//
//input[type="textarea"]:focus + label {
//  display: none;
//};
//
//label {
//  font-size: 13px;
//  position: absolute;
//  padding-bottom: 3px;
//  left: 495px;
//  color: #6D6D6D
//}