// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts {
  float: left;
}

.post, .post-form {
  border: 1px solid black;
  margin-top: 5px;
  padding: 10px;
/*      width: 450px;*/
//  width: 620px;
  background: white;
  overflow: hidden;
}

.post-form {
	margin: 0;
}

.post-image {
  float: left;
}

.post-content {
  float: left;
  padding-left: 10px;
}

.post-text {
  color: black;
}

.post-footer {

}

.post-footer-item {
//  float: left;
//  padding: 0 10px;
}

.edit {
  float: right;
}

.comment-item {
  float: left;
//  margin: 5px;
  border: 1px solid lightgray;
  width: 580px;
//  padding: 10px;
  overflow: hidden;
}

.comment-image {
  float: left;
  width: 75px;
}

.comment-content {
	float: left;
	margin-left: 10px;
  float: left;
//  width: 420px;
	input {
		float: right;
	}
}