// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-form {
  margin: auto;
  width: 900px;
  padding: 20px;
  background: white;
}

.users-index {
}

.user {
  float: left;
}

.user-show-link {
  position: relative;

  .overlay {
    background-color: black;
    z-index: 1;
  }

  .user-show-username {
    display: none;
    top: 60px;
    padding: 10px;
    color: white;
    position: absolute;
    z-index: 1;
  }
}

.user-show-link:hover {

  .user-show-username {
    display: block;
  }
};

.overlay {
  img {
    width: 98px;
    height: 98px;
  }
}

.overlay:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
//    background: rgba(0,0,0, 0.5);
background: none;
//    -moz-transition: background .1s linear;
//    -webkit-transition: background .1s linear;
//    -o-transition: background .1s linear;
//    transition: background .1s linear;
}

.overlay:hover:before {
//    background: none;
background: rgba(0,0,0, 0.5);
}